<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/template-driven-form']" [routerLinkActive]="'active'">Template Driven Form <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reactive-form']" [routerLinkActive]="'active'">Reactive Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
